@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EGMView</h1>
    <p>Learn about  @ViewData["Nihal"] </p>
    <br />
    ViewBag => @ViewBag.Berat
    <br />
    @TempData["EGM Eğitim"]
</div>
