@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor

<p>
 string Value   @accessor.HttpContext.Session.GetString("sessionKey")
</p>

<p>
    int Value   @accessor.HttpContext.Session.GetInt32("sessionIntValue")
</p>

<div>
    <h3>Controller'dan gelen data @ViewData["titleChangedLanguage"]</h3>
</div>

<br />

<div>
    <h3>View'dan gelen data @LangHelper.Localize("Hello")</h3>
</div>

@{
    //ViewData["Title"] = "Home Page";
}

@*<div class="text-left">
    <p>
        <a href ="/NoSuchPage">
            Request an endpoint that doesn't exist. Trigger a 404
        </a>
    </p>

    <p>
        <a href="/home/index/1">
           File not found
        </a>
    </p>

    <p>
        <a href="/home/index/2">
            Return a 500 error
        </a>
    </p>
    <p>
        <a href="/home/index/3">
            Return a 401 unAuthorize
        </a>
    </p>
</div>*@

<h2>Test Tasarım Home index Sayfası</h2>

