@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index View</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    ViewData=> @ViewData["Nihal"]
    <br />
    ViewBag => @ViewBag.Berat
</div>

@section Scripts{

}
