@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <p>
        <a href ="/NoSuchPage">
            Request an endpoint that doesn't exist. Trigger a 404
        </a>
    </p>

    <p>
        <a href="/home/index/1">
           File not found
        </a>
    </p>

    <p>
        <a href="/home/index/2">
            Return a 500 error
        </a>
    </p>
    <p>
        <a href="/home/index/3">
            Return a 401 unAuthorize
        </a>
    </p>
</div>
